@import '../../assets/styles/variable.scss';

.categotyCtn{
    background-color: $primary;
    .categotyContent{
        display: flex;
        justify-content: space-between;
        .categoryItem{
            padding: 10px 0px;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
            position: relative;

            &:hover {
            
                &::after {
                  content: ''; 
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 0px;
                  height: 2px; 
                  background-color: $white; 
                  transition: transform 0.3s ease-in-out;
                }
              }
            
              &:hover::after {
                width: 100%;
              }
        }
    }
}