@import '../../assets/styles/variable.scss';

.categotyCtn{
    background-color: $primary;
    .categotyContent{
        display: flex;
        justify-content: space-between;
        .categoryItem{
            padding: 10px 0px;
        }
    }
}