@import "./assets/styles/variable.scss";

.message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  .iconMessageCtn {
    cursor: pointer;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    .iconMessage {
      background: url("https://vc2-cdn.bestchat.com/widget/assets/icon_chat_white-2a28b335.png") 0 0 no-repeat;
      background-size: contain;
      width: 50px;
      height: 50px;
    }
  }
}
