@import '../../assets/styles/variable.scss';

.listStauts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid $primary;
    padding-bottom: 20px;
    .itemStatus{
        padding: 10px 20px;
    }
}